<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA34Ccl1vW-jfQKMSYGRuFEsly_q1RSSCI</string>
	<key>GCM_SENDER_ID</key>
	<string>615350097094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bmms</string>
	<key>PROJECT_ID</key>
	<string>bmms-57ce6</string>
	<key>STORAGE_BUCKET</key>
	<string>bmms-57ce6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615350097094:ios:6e4cca0320d1c3152473c7</string>
</dict>
</plist>